	<article>
		<div class="blackbox">
			<p>
				Hi, I'm Matthew Solarski, a web developer with a wealth of experience in a number of disparate fields, including copywriting, transporation logistics, multimedia engineering, music criticism, and photography.  I bring a keen eye and a meticulous attention to detail to any assignment.  Be sure to check out my <a href="work.html">work</a> -- I look forward to <a href="contact.html">hearing from you!</a>
			</p>
		</div>
	</article>