	<article class="centerbox">
		<div class="blackbox">

			<p>
				GET IN TOUCH:
			</p>

			<p>
				<a href="mailto:mxtthxw@gmail.com">mxtthxw@gmail.com</a>
			</p>

			<form method="POST" action="/sign-in">   
				<label for="name">Name:</label>
				<input type="text" name="name">
				<label for="email">Email:</label>
				<input type="email" name="email">
				<br>
				<label for="message">Your Message Here:</label>
				<br>
				<textarea type="text" rows="20" cols="100" name="message"></textarea>
				<input type="submit">
			</form>

		</div>
	</article>