	<article>
		<div class="blackbox">
			<p>My Work Elsewhere:</p>
			<p>
				<a href="http://pitchfork.com/staff/matthew-solarski/" target="_blank">Pitchfork</a>
			</p>
			<p>
				<a href="http://consequenceofsound.net/author/msolarski/" target="_blank">Consequence Of Sound</a>
			</p>
			<p>
				<a href="http://www.thewildhoneypie.com/author/matthew-solarski/" target="_blank">The Wild Honey Pie</a>
			</p>
			<p>
				<a href="http://do-nyc.tumblr.com/tagged/Thew-Lawrence" target="_blank">doNYC (as "Thew Lawrence")</a>
			</p>
			<p>
				<a href="http://www.littlewaterradio.org/#!showgoer-1/f7hm9" target="_blank">Little Water Radio/"Showgoer"</a>
			</p>
		</div>
	</article>