	<article>
		<div class="blackbox">
			<p>
				<a href="https://github.com/mxtthxw/free_pizza" target="_blank">The NYCDA Free Pizza Initiative (Collabortive Project)</a>
			</p>
			<p>
				<a href="https://github.com/mxtthxw/gitting_to_know_you" target="_blank">"Gitting To Know You": NYCDA Git Repository Exercise</a>
			</p>
			<p>
				<a href="https://github.com/mxtthxw/branching" target="_blank">NYCDA Branching Exercise</a>
			</p>
		</div>
	</article>